.conteiner {
    
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulosNav {
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Indie Flower', cursive;
    background-color: black;
    color:white;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(247, 91, 247, 0.55);
    animation: pulse 1.5s infinite;
    border-top: solid 5px rgb(240, 11, 202);
    border-right: solid 5px blue;
    border-bottom: solid 5px rgb(12, 215, 12);
    border-left: solid 5px rgb(255, 162, 0);
}
h1 {
    color: black;
    background-color: rgb(246, 250, 185);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
}